<!DOCTYPE html>
<html lang="en" >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{{'email.tpsbooking.titles.booking_confirm_title' | trans}}</title>
	<style type="text/css">
    @media (min-width: 500px) {
    .avatar__media .media__fluid {
        margin-top: 3px !important;
    }
    }


    @media (min-width: 500px) {
    .button,
        .button__shadow {
        font-size: 16px !important;
        display: inline-block !important;
        width: auto !important;
    }
    }


    @media (min-width: 500px) {
    footer li {
        display: inline-block !important;
        margin-right: 20px !important;
    }
    }


    @media (min-width: 500px) {
    .mt1--lg {
        margin-top: 10px !important;
    }
    }


    @media (min-width: 500px) {
    .mt2--lg {
        margin-top: 20px !important;
    }
    }


    @media (min-width: 500px) {
    .mt3--lg {
        margin-top: 30px !important;
    }
    }


    @media (min-width: 500px) {
    .mt4--lg {
        margin-top: 40px !important;
    }
    }


    @media (min-width: 500px) {
    .mb1--lg {
        margin-bottom: 10px !important;
    }
    }


    @media (min-width: 500px) {
    .mb2--lg {
        margin-bottom: 20px !important;
    }
    }


    @media (min-width: 500px) {
    .mb3--lg {
        margin-bottom: 30px !important;
    }
    }


    @media (min-width: 500px) {
    .mb4--lg {
        margin-bottom: 40px !important;
    }
    }


    @media (min-width: 500px) {
    .pt1--lg {
        padding-top: 10px !important;
    }
    }


    @media (min-width: 500px) {
    .pt2--lg {
        padding-top: 20px !important;
    }
    }


    @media (min-width: 500px) {
    .pt3--lg {
        padding-top: 30px !important;
    }
    }


    @media (min-width: 500px) {
    .pt4--lg {
        padding-top: 40px !important;
    }
    }


    @media (min-width: 500px) {
    .pb1--lg {
        padding-bottom: 10px !important;
    }
    }


    @media (min-width: 500px) {
    .pb2--lg {
        padding-bottom: 20px !important;
    }
    }


    @media (min-width: 500px) {
    .pb3--lg {
        padding-bottom: 30px !important;
    }
    }


    @media (min-width: 500px) {
    .pb4--lg {
        padding-bottom: 40px !important;
    }
    }


    @media (min-width: 500px) {
    pre {
        font-size: 14px !important;
    }
    .body {
        font-size: 14px !important;
        line-height: 24px !important;
    }
    h1 {
        font-size: 22px !important;
    }
    h2 {
        font-size: 16px !important;
    }
    small {
        font-size: 12px !important;
    }
    }


    @media (min-width: 500px) {
    .user-content pre,
        .user-content code {
        font-size: 14px !important;
        line-height: 24px !important;
    }
    .user-content ul,
        .user-content ol,
        .user-content pre {
        margin-top: 12px !important;
        margin-bottom: 12px !important;
    }
    .user-content hr {
        margin: 12px 0 !important;
    }
    .user-content h1 {
        font-size: 22px !important;
    }
    .user-content h2 {
        font-size: 16px !important;
    }
    .user-content h3 {
        font-size: 14px !important;
    }
    }
    </style>
</head>

<body class="body" style="font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Helvetica, sans-serif; line-height: initial; max-width: 580px;">
	<h1 style="box-sizing: border-box; font-size: 1.25rem; margin: 0; margin-bottom: 0.5em; padding: 0;">{{'email.tpsbooking.titles.booking_confirm_title' | trans}}</h1>
	<p style="box-sizing: border-box; margin: 0; margin-bottom: 0.5em; padding: 0;">{{'email.tpsbooking.titles.booking_confirm_message' | trans}}</p>
    <table>
        <tr>
            <th style="text-align: left; width: 120px">{{'admin.tpsbooking.status' | trans}}:</th>
            <td>{{ ('admin.tpsbooking.status_' ~ Booking.status) | trans}}</td>
        </tr>
        <tr>
            <th style="text-align: left;">{{'admin.tpsbooking.date' | trans}}:</th>
            <td>{{ Booking.datetime | date_format('d-m-Y H:i') }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">{{'admin.tpsbooking.phone_number' | trans}}:</th>
            <td>{{ Booking.phonenumber }}</td>
        </tr>
        {% if Booking.Product %}
        <tr>
            <th style="text-align: left;">{{'admin.tpsbooking.service' | trans}}:</th>
            <td>{{ Booking.Product.name }}</td>
        </tr>
        {% endif %}
        {% if Booking.note %}
        <tr>
            <th style="text-align: left;">{{'admin.tpsbooking.note' | trans}}:</th>
            <td>{{ Booking.note }}</td>
        </tr>
        {% endif %}
    </table>
	<p class="db mb2 mt2 gray" style="box-sizing: border-box; color: #999; display: block; margin: 0; margin-bottom: 10px; padding: 0;">{{'email.tpsbooking.messages.booking_confirm_help_text' | trans}}</p>
	<p style="box-sizing: border-box; margin: 0; margin-bottom: 0.5em; padding: 0;">
		</p><pre style="background: #f6f6f3; border: 1px solid #d8d7d4; border-radius: 3px; display: inline-block; font-family: monospace; font-size: 1rem; font-weight: 600; line-height: 1em; margin: 0; padding: 5px 8px;">{{ 'email.tpsbooking.messages.booking_number' | trans}}: #{{Booking.id}}</pre>
	<p></p>
	<footer class="mt2 mt4--lg" style="border-top: 1px solid #D9D9D9; margin-top: 20px; padding: 20px 0;">
	</footer>
</body>
</html>
